            /*--Top Navbar css----*/
            .top-bar {
                position: relative;
                height: 80px;
                background: #fdbe33;
            }

            .top-bar .logo {
                padding: 15px 0;
                text-align: left;
                overflow: hidden;
            }

            .top-bar .logo h1 {
                margin: 0;
                color: #030f27;
                font-size: 60px;
                line-height: 60px;
                font-weight: 700;
            }

            .top-bar .logo img {
                max-width: 100%;
                max-height: 60px;
            }

            .top-bar .top-bar-item {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .top-bar .top-bar-icon {
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .top-bar .top-bar-icon {
                margin: 0;
                color: black;
                font-size: 30px;
            }

            .top-bar .top-bar-text {
                padding-left: 15px;
            }

            .top-bar .top-bar-text h3 {
                margin: 0 0 5px 0;
                color: #030f27;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;
            }

            .top-bar .top-bar-text p {
                margin: 0;
                color: #030f27;
                font-size: 13px;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;
            }

            @media (min-width: 992px) {
                .top-bar {
                    padding: 0 60px;
                }
            }

            @media (max-width: 991.98px) {
                .top-bar .logo {
                    text-align: center;
                }
            }